---
import Layout from "../components/Layout.astro";
import code from "../images/code.jpg";
---

<Layout pageTitle="Index Astro" pageDescription="Este es el indice de la pagina de astro">
  <h2>Indes Layout</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptate omnis veritatis voluptates eligendi eveniet nostrum esse, recusandae vitae enim magni ipsum quas quibusdam. Asperiores quam aperiam possimus quasi sint harum architecto quod? Dolorum quae delectus amet quo? Unde ad harum ea soluta, corrupti nemo illo commodi doloremque eos, fugiat cum! Nulla molestias omnis ipsum. Consequatur dicta, est culpa possimus minus sapiente eius placeat doloribus consequuntur, fugiat aspernatur alias quam dolorum velit provident obcaecati quaerat nisi vero recusandae maxime fuga voluptates eum saepe! Illum facere soluta consectetur reiciendis exercitationem asperiores ipsum optio explicabo non dolorem vel ipsa harum, atque officiis!</p>
  <img src={code} alt="code pictures">
</Layout>