---
import Layout from "../components/Layout.astro";
const res = await fetch("https://jsonplaceholder.typicode.com/posts");
const users = await res.json();
---
<Layout pageTitle="Post" pageDescription="Esta es la seccion de post del curso de astro">

  <h1>Mis Posts</h1>

  {
  users.map((user) => (
    <div>
      <h2 class="title">{user.title}</h2>
      <p>user.body</p>
    </div>
  ))
}
</Layout>

<style>
  .title {
    color: #c90909;
    font-size: 20px;
  }
</style>
